
.contactsList li {
    display: flex;
    border: 2px solid var(--px-border);
    background-color: var(--px-bg);
    padding: 12px 15px;
    border-radius: 12px;
    align-items: center;
    position: relative;
    transition: all .35s ease;
}

.contactsList li + li {
    margin-top: 25px;
}

.contactsList li:hover {
    background: var(--px-theme);
    border: 2px solid var(--px-theme);
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--px-gray-2);
    color: var(--px-text);
    font-size: 20px;
}

.text {
    flex: 1 1;
    padding-left: 20px;
    color: var(--px-text);
    font-weight: 500;
}

.text a {
    --bs-text-opacity: 1;
    color: inherit !important;
}

.text a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}
