.worksBlock {
    min-height: 100vh;
    background-color: rgba(170, 163, 236, 0.83);
}

.worksContainer {
    min-height: 100vh;
    flex-direction: column;
}

.title {
    margin: 40px auto;
}

.works {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 50px;
}