.portfolioBlock {
    padding: 100px 0;
    position: relative;
}

.portfolioContainer {
    flex-direction: column;
}

.portfolioContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1490px) {
    .portfolioBlock {
        margin-left: 70px
    }
}

@media (max-width: 1235px) {
    .portfolioBlock {
        margin-left: 80px
    }
}

@media (max-width: 1000px) {
    .portfolioBlock {
        margin-left: 0
    }
}
