.footer {
    position: relative;
    background-color: var(--px-bg);
    border-top: 2px solid var(--px-gray-2);
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 40px;
}

.footerInfo {
    text-align: center;
    margin-top: -50px;
}

.footerInfo h6 {
    margin: 15px 0 0;
    font-size: 1rem;
}

.footerContent p {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}