.mainBlock {
    min-height: 100vh;
}

.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.mainContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}


.homeImgIn {
    background-image: url("../../common/assets/photoMinSize.jpg");
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 12px solid var(--px-gray-3);
    box-shadow: 0 0 0 12px var(--px-gray-1);
    z-index: 12;
    background-size: cover;
}

.homeIntro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.homeIntro h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.homeIntro h2 {
    font-weight: 500;
    margin: 0;
    font-size: 22px;
}


