.skillsBlock {
    height: 100vh;
    background-color: rgba(185, 185, 128, 0.83);
}

.skillsContainer {
    flex-direction: column;
}

.title {
    margin: 40px auto;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}