.skillsBlock {
    min-height: 100vh;
    background-color: rgba(185, 185, 128, 0.83);

}

.skillsContainer {
    min-height: 100vh;
    flex-direction: column;
}

.title {
    margin: 40px auto;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 50px;
}