.resumeBox li {
    background-color: var(--px-bg);
    border: 2px solid var(--px-border);
    padding: 15px 15px 20px 70px;
    border-radius: 12px;
    position: relative;
    transition: all .35s ease;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--px-theme-text);
    color: var(--px-theme);
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 900;
}

.year {
    font-size: 12px;
    display: flex;
    width: 100%;
    padding-bottom: 4px;
}

.resumeBox li h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.resumeBox li p {
    margin: 0;
}
