.header {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100px;
    /*left: -180px;*/
    z-index: 11;
    display: flex;
    flex-direction: column;
    transition: all .35s ease;     /* read*/
    background-color: var(--px-gray-2);
    border-right: 1px solid var(--px-border);
}

.headerContainer {
    display: flex;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    justify-content: center;

}
