.navbar {
    width: 100%;
    display: flex;
    border: 1px solid mediumvioletred;
    justify-content: flex-end;
}

.link {
    margin-right: 5%;
}

@media (max-width: 700px) {
    .navbar {
        justify-content: space-between;
    }

    .link {
        margin-right: 0;
    }
}