.portfolioBox {
    border: 2px solid var(--px-border);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: var(--px-bg);
    min-width: 250px;
    width: 32.33333%;
}

.imgBox {
    display: flex;
}

.portfolioText {
    color: var(--px-text);
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--px-gray-2);
    border: 2px solid var(--px-border);
    padding: 10px;
    border-radius: 10px;
    transition: all .35s ease;
    overflow: hidden;
}

.portfolioText h6 {
    font-size: 17px;
    margin: 0 0 5px;
}

.portfolioText p {
    margin: 0;
    font-size: 13px;
}

@media (max-width: 1000px) {
    .portfolioBox {
        width: 49%;
    }
}

@media (max-width: 770px) {
    .portfolioBox {
        width: 80%;
    }
}