.title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-left: 20px;
    color: var(--bs-heading-color);
    margin-bottom: 30px
}

.title:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 0;
    background: var(--px-theme);
}