.mainBlock {
    min-height: 100vh;
}

.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.mainContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.homeIntro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.homeIntro h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.homeIntro h2 {
    font-weight: 500;
    margin: 0;
    font-size: 22px;
}


