.skillsBlock {
    min-height: 100vh;
    background-color: var(--px-gray-1);
    padding: 100px 0;
    position: relative;
}

.skillsContainer {
}

.aboutMeText {
    padding: 0 10% 0 0;
    padding-bottom: 3rem !important;
}

.aboutMeText h3 {
    font-size: 16px;
    margin-bottom: 10px
}

.aboutMeText h3 h5 {
    text-transform: uppercase;
    font-weight: 600;
}

.aboutMeText h5 {
    margin-bottom: 26px;
}

.line {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.skills {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}


/*.title {*/
/*    margin: 40px auto;*/
/*}*/

/*.skills {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*    gap: 15px;*/
/*    margin-bottom: 50px;*/
/*}*/