.aboutMeBlock {
    min-height: 100vh;
    background-color: var(--px-gray-1);
    padding: 100px 0;
    position: relative;
}

.aboutMe {
    display: flex;
    align-items: flex-start !important;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.column1 {
    padding-bottom: 0 !important;
    flex: 0 0 auto;
    width: 41.66666667%;
}

.column2 {
    padding-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    z-index: 1;
    top: 0;
    flex: 0 0 auto;
    width: 61.33333333%;
}

.skills {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

@media (max-width: 1490px) {
    .aboutMeBlock {
        margin-left: 70px
    }
}

@media (max-width: 1235px) {
    .aboutMeBlock {
        margin-left: 80px
    }
}

@media (max-width: 1000px) {
    .aboutMeBlock {
        margin-left: 0
    }
}

@media (max-width: 780px) {
    .aboutMe {
        flex-direction: column;
    }

    .column1 {
        width: 100%;
    }

    .column2 {
        padding-left: 0;
        width: 100%;
    }
}


