/* Reset and base styles  */

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --px-theme: #004a77;
    --px-theme-text: #c2e7ff;
    --px-bg: #1f1f1f;
    --px-text: #c4c7c5;
    --px-gray-1: #28292a;
    --px-gray-2: #2d2f31;
    --px-gray-3: #333438;
    --px-gray-4: #34363a;
    --px-gray-5: #383a3e;
    --bs-heading-color: #e3e3e3;
    --px-border: #444746;
    --bs-border-width: 1px;
}

body {
    background-color: var(--px-bg);
    color: var(--px-text);
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
}

section {
    display: block;
}

li, a {
    list-style: none;
}